*, *:before, *:after{
  box-sizing: border-box;
}

body{
  background: #1ccc85;
}

form {
  width: 800px;
  height: 800px;
  margin: 0 auto;

}

.submit{

  display: block;
  border: 1px solid #fff;
  background: #fff;
  color: #20d99e;
  border-radius: 5px;
  width: 50%;
  font-size: 30px;
  margin: 0 auto;
}
.email{

  padding-bottom: 1%;
  padding: 10px;
  display: inline-block;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 40%;

  padding-bottom: 2%;

}
.name{
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  text-color: white;
  border-radius: 5px;
  padding-bottom: 2%;
  margin-bottom: 2%;
  width: 40%;

}
.textarea{
  margin: 0 auto;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  padding-bottom: 1%;
  border-radius: 5px;
  width: 80%;
  height: 50%;






}
::-webkit-input-placeholder{
  color: white;
}
form{
  text-align: center;
}
